# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# VS Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Секреты (никогда не коммитьте!)
src/secrets.h
*.local
.env